<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title >Knowledge Graph</title>
    <link rel = "stylesheet" href="../static/styles/knowledge_graph.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//unpkg.com/force-graph"></script>
    <script src="../static/knowledge_graph.js"></script>
</head>
<body>
    <div id="container">
        <div id="page-top">
            <button id="btn-import" class="base-btn" type="submit">Import</button>
            <button id="btn-export" class="base-btn" type="submit">Export</button>
            <button id="btn-save" class="base-btn" type="submit" style="display: none;">Save Graph</button>
            <button id="btn-delete-all" class="base-btn" type="submit" style="display: none;">Delete graph</button>
            <button id="btn-main-page" class="base-btn" type="submit">Main Page</button>
        </div>
        <div class="tab">
            <!---<button id="btn-Graph" class="settings_or_info" >Graph</button>--->
            <!---<button id="btn-Search" class="settings_or_info">Entities Search</button>--->
            <!---<button id="btn-Add-Entities" class="settings_or_info">Add Entities</button>--->
            <button id="btn-All-graph" class="action">Get All Graph</button>
        </div>

        <div id="Graph">
            <div id="View"></div>
            <div id="Info"></div>
        </div>

    </div>
</body>
</html>