<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building a knowledge graph based on news articles</title>
    <link rel = "stylesheet" href="../static/main_page_style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/main.js"></script>

</head>
<body>
    <div class="container">
        <h1>Building a knowledge graph based on news articles</h1>
        <div id="user-input">
            <input type="text" id="headline" placeholder="Введите заголовок новости">
            <button id="search-btn">Search news</button>
        </div>
        <div id="news-list-container" style="display: none;">
            <h2>Список новостей</h2>
            <ul id="news-list" class="news-list"></ul>
            <div class="pagination">
                <button onclick="prevPage()">next page</button>
                <button onclick="nextPage()">previous page</button>
            </div>
            <button id="remove-news-btn">Delete the selected news item</button>
            <button id="remove-fake-news-btn">Remove unreliable news using the news model</button>
            <button id="generate-graph-btn">Build a graph</button>
        </div>
        <div id="graph-container" class="graph-container" style="display: none;">
            <h2>Knowledge Graph</h2>
            <!-- Контейнер для отображения графа знаний -->
            <div id="graph"></div>
        </div>
    </div>
</body>
</html>